<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="jose arevalo">
    <meta name="date" content="21/06/2021">
    <meta name='keywords' content="time display, django">
    <title>Random Word Generator</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Palabras Random (attempt # {{request.session.count}}):</h1>
        </div>
        <div id="rndword">
            <p>{{rndWord}}</p>
        </div>
        <form id="bttn" action="/" method="post">
            {% csrf_token %}
            <button type="submit" name='count'> Generate </button> 
        </form>
    </div>
    <br><br>
    <footer>
        <form action="" method="post">
            <a href="reset">Para resetear la pagina, da click aqui!!</a><br>
        </form> 
    </footer>
</body>
</html>