<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1ad2a7dd75.js" crossorigin="anonymous"></script>
    <title>Read (All)</title>
</head>
<body>
    <h1>ALL SHOWS</h1>
    <div class="d-flex justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for shows in all_shows %}
                <tr>
                    <td>{{ shows.id }}</td>
                    <td>{{ shows.title }}</td>
                    <td>{{ shows.network }}</td>
                    <td>{{ shows.release_date }}</td>
                    <td><a href="/shows/{{shows.id}}"><i class="fas fa-eye"></i></a>   <a href="/shows/{{shows.id}}/edit"><i class="fas fa-edit"></i></a>   <a href="/shows/{{ shows.id }}/delete"><i class="fas fa-trash-alt"></i></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <br><a href="/shows/networks">Show Networks</a>
</body>
</html>